styled.div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.users-in-room-map {
  width: 400px;
  height: 400px;
  background: lightblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p.single-room-user {
  margin: 20px 0;
}

.create-room {
  position: relative;
  width: auto;
  height: auto;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  transition: 1s all;

  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: none;
}

.create-room:hover {
  background-color: #ddd;
}

.create-room:focus {
  outline: 0;
  border: solid 1px #ddd;
}

.CRoomForm {
  position: relative;
  width: 500px;
  height: auto;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  box-sizing: border-box;
}

.list-rooms {
  position: relative;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #666;
  border-radius: 10px;
  margin-top: 10px;
}

.room-section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  cursor: pointer;
  list-style-type: none;
  list-style: none;
  border-radius: 10px;
  transition: 1s all;
}

.room-section:hover {
  background-color: #888;
}
