.form-credentials {
  width: 100%;
  height: auto;
  display: block;
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
}

.form-credentials > input[type='password'] {
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: text;
  user-select: text;
  border: solid 1px #ddd;
  background-color: #fff;
  color: #333;
}

.span-credentials {
  position: relative;
  display: block;
  padding: 10px;
}

.btn-send {
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-default);
  color: #fff;
  font-size: var(--fsize-default);
  padding: 10px;
  text-align: center;
}

.btn-cancel {
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: #fff;
  font-size: var(--fsize-default);
  padding: 10px;
  text-align: center;
  float: right;
}
