.dropdown-item {
  display: block;
  width: auto;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  clear: both;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.dropdown-item:hover {
  background-color: #666;
}

.dropdown-item:focus {
  outline: 0;
  background-color: #999;
}
