.rooms-create-table {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  border-collapse: collapse;
  margin: auto;
}

.rooms-create-table-item {
  cursor: pointer;
  user-select: none;
  border: transparent;
  border: solid 1px #333;
}

.rooms-create-table-item[disabled] {
  cursor: default;
}
