.rooms-create-table {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: calc(100px / 4px);
  border-radius: 10px;
  box-sizing: border-box;
  border-collapse: collapse;
  margin: auto;
}

.rooms-create-table-item {
  cursor: pointer;
  user-select: none;
  border: transparent;
  border: solid 1px #333;
  min-width: 35px;
  max-width: 60px;
  min-height: 35px;
  max-height: 70px;
}

.rooms-create-table-item[disabled] {
  cursor: default;
}
