.rooms {
  /*display: flex;*/
  width: auto;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.room-item {
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: #444;
  border: none;
  box-sizing: border-box;
  /*display: flex;*/
  margin-top: 20px;
  border-radius: 16px;
  transition: 0.6s all;
  width: 100%;
  padding: 0;
  height: auto;
}

.room-item:hover {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.5);
}

.room-content {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
  color: inherit;
}

.main-1t {
  background-color: #444;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  width: 100%;
  display: flex;
}

.main-2t {
  background-color: #222;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  width: 100%;
  display: flex;
}

.board-span {
  position: relative;
  margin: auto;
  font-size: 25px;
  font-weight: 600;
}

.players-span {
  position: relative;
  margin: auto;
  font-size: 25px;
  font-weight: 600;
}

.t-span {
  color: inherit;
  font-size: 18px;
  user-select: none;
  margin: auto;
  display: flex;
  font-weight: 600;
}

.main-3t {
  background-color: #333;
  justify-content: center;
  text-align: center;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  cursor: default;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.btn-play {
  position: relative;
  min-width: 100px;
  max-width: 200px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: initial;
  margin: auto;
  padding: 14px;
  border: none;
  border-radius: 16px;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
