.home {
  align-items: initial;
  justify-content: initial;
  height: calc(100vh - 46px);
  display: grid;
  margin: 0 auto;
  gap: 24px;
  max-width: 1440px;
  width: 100%;
  font-size: 16px;
  color: #ffffffa6;
  padding: 15px;
}

.home h1 {
  margin-bottom: 10px;
}

.home-item {
  margin-bottom: 25px;
  background-color: #272522;
  border-radius: 2em;
  padding: 16px;
}

.home-user {
  display: flex;
}

.home-avatar {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffffa6;
  font-size: 46px;
  font-weight: 600;
  background-color: #312e2b;
  border-radius: 20px;
}

.home-user-info {
  margin-left: 15px;
}

.home-name {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.list-menu {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: transparent;
  padding: 10px;
  border-radius: 0;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  box-sizing: border-box;
  overflow-y: auto;
}

.item-model {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  color: #fff;
  list-style-type: none;
  transition: 0.6s all;
  background-color: #333;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
}

.item-model:hover {
  background-color: #343434;
}

.menu-load {
  position: relative;
  width: auto;
  background-color: #666;
  border: transparent;
  border-radius: 10px;
  display: inline-block;
  margin-top: 30px;
  padding: 20px;
  font-size: 20px;
}

.item-content {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.m-p {
  padding: 10px;
  box-sizing: border-box;
  display: block;
}

@media (min-width: 769px) {
  .home {
    align-content: start;
    row-gap: 20px;
    grid-template-columns: minmax(0, 1fr) 300px;
  }
  .home-column-one {
    grid-column: 1;
  }
  .home-column-two {
    grid-column: 2;
  }
}
