.home {
  align-items: initial;
  justify-content: initial;
  height: calc(100vh - 46px);
  display: grid;
  margin: 0 auto;
  gap: 24px;
  max-width: 1082px;
  width: 100%;
  font-size: 16px;
  color: #ffffffa6;
}

.home h1 {
  margin-bottom: 10px;
}

.home-item {
  margin-bottom: 25px;
  background-color: #272522;
  border-radius: 2em;
  padding: 16px;
}

.home-user {
  display: flex;
}

.home-avatar {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffffa6;
  font-size: 46px;
  font-weight: 600;
  background-color: #312e2b;
  border-radius: 20px;
}

.home-user-info {
  margin-left: 15px;
}

.home-name {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.home-chat {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
}

.home-chat form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #272522;
  border-radius: 0;
  padding: 0;
  align-items: inherit;
}

.home-chat input {
  margin: 0;
  margin-top: 16px;
  padding-right: 50px;
}

.home-chat-form {
  position: relative;
}

.home-chat-send {
  position: absolute;
  top: 16px;
  right: 0;
  height: 46px;
  max-width: 45px;
  width: 100%;
  border-radius: 2em;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffffffa6;
  cursor: pointer;
  color: #000;
}

.home-chat-send:hover,
.home-chat-send:focus {
  background-color: #fff;
}

.home-chat-messages {
  background-color: #1f1e1b;
  height: 100%;
  overflow-y: auto;
}

.home-chat-messages li {
  overflow: hidden;
  width: 100%;
  padding: 5px 10px;
}

.chat {
  width: 100%;
}

.chat-title {
  font-size: 16px;
  font-weight: 700;
}

.me {
  text-align: right;
}

@media (min-width: 960px) {
  .home {
    align-content: start;
    padding: 15px;
    row-gap: 20px;
    grid-template-columns: minmax(0, 1fr) 300px;
  }
  .home-column-one {
    grid-column: 1;
  }
  .home-column-two {
    grid-column: 2;
  }
}
