.home {
  align-items: initial;
  justify-content: initial;
  height: calc(100vh - 46px);
  display: grid;
  margin: 0 auto;
  gap: 24px;
  max-width: 1082px;
  width: 100%;
  font-size: 16px;
  color: #ffffffa6;
}

.home h1 {
  margin-bottom: 10px;
}

.home-item {
  margin-bottom: 25px;
  background-color: #272522;
  border-radius: 2em;
  padding: 16px;
}

.home-user {
  display: flex;
}

.home-avatar {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffffa6;
  font-size: 46px;
  font-weight: 600;
  background-color: #312e2b;
  border-radius: 20px;
}

.home-user-info {
  margin-left: 15px;
}

.home-name {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 960px) {
  .home {
    align-content: start;
    padding: 15px;
    row-gap: 20px;
    grid-template-columns: minmax(0, 1fr) 300px;
  }
  .home-column-one {
    grid-column: 1;
  }
  .home-column-two {
    grid-column: 2;
  }
}
