body {
  background-color: #312e2b;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffffa6;
  border-radius: 10px;
}

h1 {
  font-size: 32px;
}

.h1 {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.main {
  align-content: start;
  align-items: initial;
  justify-content: initial;
  height: calc(100vh - 46px);
  display: grid;
  margin: 0 auto;
  gap: 24px;
  max-width: 1446px;
  width: 100%;
  font-size: 16px;
  color: #ffffffa6;
  padding: 15px;
}

.main h1 {
  margin-bottom: 10px;
}

.main-item {
  margin-bottom: 25px;
  background-color: #272522;
  border-radius: 2em;
  padding: 16px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .main {
    row-gap: 20px;
    grid-template-columns: minmax(0, 1fr) 300px;
  }
  .main-column-left {
    grid-column: 1 / 3;
  }
  .main-column-center {
    grid-column: 1;
  }
  .main-column-right {
    grid-column: 2;
  }
  .main-column-center-right {
    grid-column: 1 / 3;
  }
}

@media (min-width: 1093px) {
  .main {
    row-gap: 20px;
    grid-template-columns: 300px minmax(0, 1fr) 300px;
  }
  .main-column-left {
    grid-column: 1;
  }
  .main-column-center {
    grid-column: 2;
  }
  .main-column-right {
    grid-column: 3;
  }
  .main-column-center-right {
    grid-column: 2;
  }
}
