.table-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.table-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.table-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.table-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.table-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.table-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.table-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.table-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.table-item {
  outline: none;
  border: 1px solid #272522;
  width: 100%;
  background-color: #ffffffa6;
}

.table-item:hover {
  background-color: #ffff;
}

.active {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
