.table-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.table-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.table-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.table-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.table-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.table-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.table-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.table-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.table-item {
  width: 100%;
}

.active {
  background-color: red;
}
