.table-model {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #555;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  margin-top: 10px;
}

.table-items {
  position: relative;
  width: 100%;
  height: auto;
  padding: 6px;
  border-radius: 10px;
  white-space: nowrap;
  background-color: #1f1e1b;
  margin-bottom: 30px;
  justify-content: center;
  text-align: center;
}

.item-model {
  display: inline-table;
  cursor: pointer;
  user-select: none;
  color: inherit;
  padding: 12px;
  list-style-type: none;
  font-size: 30px;
  min-width: 70px;
  max-width: 250px;
  height: 100px;
  transition: 0.4s all;
  border-radius: 16px;
}

.value-item {
  position: relative;
  display: block;
}
