.main-password {
  position: relative;
  width: auto;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  display: block;
  font-size: var(--fsize-default);
  background-color: var(--bg-default);
}

.name-fill {
  position: relative;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
}

.form-password {
  display: block;
  padding: 0;
  width: 100%;
}

.container-text {
  position: relative;
  height: auto;
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.container-input {
  position: relative;
  height: auto;
  display: block;
  cursor: text;
  user-select: text;
  border-radius: 10px;
  border: solid 1px #ddd;
  font-size: 17px;
  padding: 8px;
  box-sizing: border-box;
}

.container-input:focus {
  outline: 0;
  border: solid 1px rgb(23, 173, 233);
}

.btn-save {
  position: relative;
  border: solid 1px #ddd;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 10px;
}
