.main-settings {
  width: auto;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  display: block;
  background-color: var(--bg-default);
  font-size: var(--fsize-default);
}

.main-settings > ul {
  list-style-type: none;
}

.main-settings > ul > a,
li {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  user-select: none;

  transition: 1s all;
}

.main-settings > ul > li,
a:hover {
  background-color: #777;
}
